@charset "utf-8";

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border-style: none;
  font-family: inherit;
  vertical-align: baseline;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 1.6rem;
  line-height: 1.5; 
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

ul[role=list], ol[role=list] {
  list-style: none;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

li, a, i, figure, img, button,
input[type=button], input[type=submit] {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

input, textarea, button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=button], input[type=submit], input[type=reset], button, a {
  cursor: pointer;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *, *::before, *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}